 .movie-list {
     display: flex;
     overflow-x: auto;
     white-space: nowrap;
     -ms-overflow-style: none;
     scrollbar-width: none;
     scroll-behavior: smooth;
 }

 .movie-list::-webkit-scrollbar {
     display: none;
 }

 .movie-image {
     width: 180px;
     height: 250px;
     margin: 15px;
     cursor: pointer;
     border-radius: 10px;
     text-align: center;
     flex-shrink: 0;
     object-fit: inherit;
     transition: transform 0.3s ease;
 }

 .movie-image:hover {
     transform: scale(1.1);
 }

 .scrollBtn {
     width: 1.5rem;
     height: 5rem;
     border-radius: 16rem;
     border: none;
     display: flex;
     cursor: pointer;
     flex-direction: column;
     align-self: center;
     justify-content: center;
     justify-items: center;
     align-items: center;
     color: rgb(255, 255, 255);
     background-color: rgba(61, 61, 61, 0.696);
     z-index: 2;
     transition: opacity 0.3s ease, transform 0.3s ease;
 }

 .scrollBtn.show {
     opacity: 1;
 }

 .scrollBtn.hide {
     opacity: 0;
 }

 .previousBtn {
     transition: opacity 400ms ease-in-out;
 }

 .nextBtn {
     transition: opacity 400ms ease-in-out;
 }